html,
body {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.4em;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

blockquote {
  font-style: italic;
}

a {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}
