html,
body {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
}

blockquote {
  font-style: italic;
}
